/*Estilos Footer*/

.footerNavCopy h2{
    font-size: 15px !important;
    
}

.footerNavCopy{
    padding-top: 10px;
}

.footerNav{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    text-align:start ;
    
}

.footerRedes{

    display: flex;
    column-gap: 5px;

}

.footerRedes i{

    font-size: 20px;
    
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center !important;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    border: 1px rgb(0, 0, 0) solid;
    background-color: rgb(255, 246, 198);
    grid-area: a5;
    font-size: 10px !important;
}

footer #logo-heroe{
    margin-top: 5px;
    margin-right: 20px; 
    margin-left: 20px;
    width: 100px;
    height: 100px;

}