#bodyIndex{
    display: grid;
    grid-template-areas:
    "a1 a1 a1 a1"
    "a2 a3 a3 a4"
    "a5 a5 a5 a5";   
    grid-template-columns: 12% 38% 38% 12%;
    grid-template-rows: 120px 1fr auto;
    gap: 10px;
}



#asideInd{
    height: 3350px;
}


aside .asideInd{
font-size: 120%;
margin: 4px 6px;
border-bottom: 1px rgb(255, 246, 198) solid;
text-align: center;

}

.grilla{
    display: grid;
            height: auto;
            grid-template-rows: 70px 950px auto auto auto;
            grid-template-columns: 48% 48% ;
    
            grid-template-areas:  
                                "g1 g1"
                                "g2 imga2 "
                                "g3 g3" 
                                "g4 g5"
                                "g6 g6";
          margin-left: 20px;
          margin-top: 20px;
          gap: 10px;                  
        }
    .inicio{
        grid-area: g1;
        height: 100%;
        width: 100%;
        gap: 20px; /* Espacio entre los elementos del grid */  
        padding: 15px; /* Espacio interno del contenedor */ 
    }
    .parrafo1{
        grid-area: g2;
        display: grid;  
        grid-template-rows: 4% 94%; /* Dos columnas */  
        gap: 10px; /* Espacio entre los elementos del grid */  
        padding: 20px; /* Espacio interno del contenedor */ 
         }
    .parrafo2 {
    
        grid-area: g3;
        display: grid;  
        grid-template-rows: 2% 94%; /* Dos columnas */  
        gap: 10px; /* Espacio entre los elementos del grid */  
        padding: 20px; /* Espacio interno del contenedor */ 
    }
    
    .img4{
        grid-area: g4;
        display: flex ;
        justify-content: center;
        height: 300px;
        padding-top: 10px;
        
    }

    .img3{
        grid-area: g5;
        display: flex ;
        justify-content: center;
        height: 300px;
        padding-top: 10px;
    }

    .img2{
        grid-area: g6;
        display: flex ;
        justify-content: center;
        height: 400px;
        padding-bottom: 10px;
        
    }
    
    .imga2 {  
        grid-area: imga2;  
        display: grid;  
        grid-template-rows: 49% 49%;  
        grid-template-areas: "img1" "img2";  
        height: 100%;  
    }  
    
    .imag21 {  
        display: flex;   
        grid-area: img1;
        justify-content: center;   
        align-items: center;   
        height: 100%;   
    }  
    
    .imag22 {  
        display: flex;  
        grid-area: img2;   
        justify-content: center;   
        align-items: center;   
        height: 100%;   
    }  
    
    .imag21 img, .imag22 img {   
        max-width: 100%;  
        max-height: 100%; 
        object-fit: contain; 
    }